h1,
h2 {
  color: #30406a;
  font-family: Helvitica, sans-serif;
}
p {
  font-family: Garamond;
  color: darkslategray;
}
body {
  padding: 10px;
}

.fAccordhead img {
  padding-right: 4px;
}
.fAccordhead {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
