h2 {
  color: #22374b;
  font-family: Helvitica, sans-serif;
}
p {
  font-family: Garamond;
  color: darkslategray;
}
body {
  background-color: rgb(255, 0, 0);
}

.fAccordhead img {
  padding-right: 4px;
}
.fAccordhead {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

#topBanner {
  width: 100%;
  top: 0;
  padding: 10px 16px;
  z-index: 2;
  position: sticky;
  background-color: rgb(7, 41, 72);
}

#bannerText {
  color: white;
  padding: 5px;
}
#hl {
  background-color: rgba(255, 255, 255, 0.455);
}
