h2 {
  color: #22374b;
  font-family: Helvitica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
}

.fAccordhead img {
  padding-right: 4px;
}
.fAccordhead {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

#topBanner {
  width: 100%;
  top: 0;
  padding: 10px 16px;
  z-index: 2;
  position: sticky;
  background-color: rgb(7, 41, 72);
}

#bannerText {
  color: white;
  padding: 5px;
}
#hl {
  background-color: rgba(255, 255, 255, 0.892);
}
#xr3 {
  background-color: whitesmoke;
  background-image: url("Untitled-40.png");
}

#foot {
  padding-bottom: 30px;
}
.card {
  height: 10em;
}
.card-img-top {
  opacity: 0.6;
}

.car {
  height: 32rem;
  background-color: rgba(58, 58, 86, 0.631);
  margin-left: 10rem;
  margin-right: 10rem;
}
.sec {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px;
}
